.blokas {
    padding-top: 50px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
}

.kvadratukas {
    align-self: auto;
    padding: 20px;
    align-self: center;
    background-color: rgba(145, 160, 160, 0.108);
}

h2 {
    text-align: center;
    color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    width: 200px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.position1 {
    border-radius: 5px;
    position: relative;
    top: 0;
    left: 0;
}